<h3>Welcome to your inventory, <%= user.name %>!</h3>
<h4>You've already got:</h4>
</br>
</br>

<div class="container">
    <% if (user) { %>
        <% critters.forEach(critter => { %>
            <% belongTos.forEach(belongto => { %>
                <% if (belongto.critterId === critter.id) { %>
                    <!-- <img src="" alt=""> -->
                    <a href="/search?q=<%= critter.name %>"><h5><span class="critterLink"> <%= critter.name.replace(/_/g, " ").toUpperCase() %> </span></h5></a>
                    <% if (belongto.nickname) { %>
                    <h5> who goes by "<%= belongto.nickname %>" </h5>
                    <% } %>
                    <form method="POST" action="/inventory/<%= critter.id %>?_method=DELETE">
                        <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">eject</i></button>
                    </form>
                    <% if (belongto.nickname) { %>
                    <form method="POST" action="/inventory/<%= critter.id %>?_method=PUT">
                        <input type="text" placeholder="New nickname" name="nickname" id="nickname">
                        <button type="submit" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></button>
                    </form>
                    <% } else { %>
                        <form method="POST" action="/inventory/<%= critter.id %>?_method=PUT">
                            <input type="text" placeholder="Add nickname" name="nickname" id="nickname">
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></button>
                        </form>
                    <% } %>
                    </br>
                    </br>
                <% } %>
            <% }) %>
        <% }); %>
    <% }; %>
</div>