<h1>Search Results</h1>

    <% if (results) { %>
        <img src="<%= results.image_uri %>" alt="<%= results['file-name'] %>">
        <% let newName = results['file-name'] %>
        <h3><%= results['file-name'].replace(/_/g, " ") %></h3>
        <h4><%= results.price%> bells</h4>
        <h4><%= results['catch-phrase'] %></h4>
        <h4><%= results['museum-phrase'] %></h4>

    <% }; %>

